# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
ios/Flutter/flutter_export_environment.sh
ios/Flutter/Generated.xcconfig
.vercel

# Backend secrets
backend/.env
backend/firebase-service-account.json
backend/node_modules/
backend/dist/

# Solana / Anchor
target/
*-keypair.json
