[features]
seeds = false
skip-lint = false

[programs.mainnet]
solfight = "268xoH5VPMgtcuaBgXimyRHebsubszqQzPUrU5duJLL8"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "mainnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "npx ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
